/* Links */
a,
a:focus,
a:hover {
    color: black
}
/*
 * Base structure
 */
html,
body {
    height: 100%;
}
body{
    background-image: url("cc.jpg");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color:black;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    color: black
}
.container {
    padding-top:70px
}
.cover-container {
    max-width: 42em;
}
h4 {
    color:white;
    font-style: italic;
    margin-left:20px;
    margin-top:25px
}
nav {
    font-size:15px;
    background-color: rgb(0, 0, 0)
}

.joinbtn {
    background-color:#ffe57d;
    color:black;
    border:none
}
.btn-join:hover,
.btn-join:focus {
    background-color: #ecaf06;
    color:white;
    border:none
}
.loginbtn {
    background-color:#ff8d4d;
    color:black;
    border:none
}
.btn-login:hover,
.btn-login:focus {
    background-color: #cd5401;
    color:white;
    border:none
}
.portobtn {
    background-color: #f7f4f3;
    color:black;
}
button a,
button a:focus,
button a:hover  {
    color: black;
    text-decoration: none;
}
footer {
    text-align:center;
    color:white;
    padding-top:40px
}
footer a {
color:white;
}