/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}
/*
 * Base structure
 */
html,
body {
  height: 100%;
}
body{
  background-image: url("cc.jpg");
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color:black;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
}
.cover-container {
  max-width: 42em;
}
h1,h3 {
  color:white
}
nav {
  font-size:15px;
  background-color: rgb(0, 0, 0)
;
}
.nav-pills {
  font-size:20px;
  background-color: transparent;
}
.joinbtn {
  background-color:#ffe57d;
  color:black;
  border:none
}
.btn-join:hover,
.btn-join:focus {
  background-color: #ecaf06;
  color:white;
  border:none
}
.loginbtn {
  background-color:#ff8d4d;
  color:black;
  border:none
}
.btn-login:hover,
.btn-login:focus {
  background-color: #cd5401;
  color:white;
  border:none
}
.portobtn {
  background-color: #f7f4f3;
  color:black;
}
button a,
button a:focus,
button a:hover  {
  color: black;
  text-decoration: none;

}
div .col-md-4 img {
  width:100%;
  height:100%;
  padding: 14px 0
}
div.transbox {
  margin-top:155px;
  background: rgba(0,0,0, 0.1);
  padding:30px
}
footer {
  text-align:center;
}